<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/ico" sizes="16x16"  href="../static/images/amelieicon.ico">
  <title>500</title>
</head>
<body>
    <div class="banner3">
      <div class="container">
        <h1>Erro 500</h1>
        <q>O fracasso é o destino humano. O fracasso nos ensina que a vida é apenas um rascunho, um ensaio para um show do qual nunca vai participar.</q></br>
        <p>O Fabuloso Destino de Amélie Poulain</p>    
      </div>
      <a href="{{url_for('index')}}"><button class="back">Voltar</button></a>
    </div>
</body>
</html>