<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/ico" sizes="16x16"  href="../static/images/amelieicon.ico">
  <title>Email Já Cadastrado</title>
</head>
<body>
    <div class="banner6">
      <div class="container">
        <h1>Email Já Cadastrado</h1>
        <p>Esse e-mail já foi cadastrado para ser lembrado.<br> Fique tranquilo, você será lembrado no dia 28 de agosto.</p>        
        <a href="{{url_for('index')}}"><button class="back">Voltar</button></a>
      </div>
    </div>
</body>
</html>